@import "tailwindcss";
@plugin "daisyui";


@custom-variant dark (&:where(.dark, .dark *));
body{
  max-width: 1280px;
  margin: 0 auto;
  transition: background-color 0.3s ease, color 0.3s ease;
  overflow-x: hidden;

}


